body {
	margin: 0 auto;
	width: 90%;
}

#header {
	height: 100px;
	/* border: 1px solid red; */
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 30px;
}

#eo {
	margin-top: 130px;
	/* border:2px solid green; */
	width: 100%;
}

#inventari {
	width: 11.1%;
	border: 3px solid black;
	margin-top: -60px;
	margin-left: 450px;
	font-size: 22px;
	position: absolute;
	text-align: center;
	border-collapse: collapse
}

#regio_parc_vehicle {
	width: 11.1%;
	border: 3px solid black;
	margin-top: -60px;
	margin-left: 600px;
	font-size: 22px;
	position: absolute;
	text-align: center;
	border-collapse: collapse
}

#data {
	width: 11.1%;
	border: 3px solid black;
	margin-top: -60px;
	margin-left: 750px;
	font-size: 22px;
	position: absolute;
	text-align: center;
	border-collapse: collapse
}

.celles_a_centrar {
	text-align: center;
}

#contorn_contenidors {
	text-align: center;
	border: 3px solid black;
	border-collapse: collapse
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-left: 20px;
	width: 28%;
	page-break-before:always;
}
